@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;500;700&display=swap");

:root {
  --main-font: "Jost", sans-serif;
}

body {
  font-family: var(--main-font);
}

.main {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  justify-content: center;
  align-items: center;
  padding: 30px 0;
}

.image__container {
  display: inline-block;
  max-height: 94vh;
  max-width: 100%;
}

.image__background {
  border-radius: 20px;
  width: 90%;
  height: 100%;
  position: absolute;
  left: 40px;
  top: 0;
  background: #fbe0dc;
  z-index: -1;
}

.item__text {
  display: block;
  color: #ff868e;
  text-align: center;
  margin-top: 20px;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 133.333% */
  letter-spacing: 2px;
  cursor: pointer;
  padding: 10px 0;
  border-radius: 10px;
}

.link {
  display: block;
  width: 100%;
}

.list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.list-item:hover > .item__pic {
  border: 4px solid #fff;
}
.list-item:hover > .link > .item__text {
  background: #fbe0dc;
}

.list-item:active > .item__pic {
  border: 4px solid #fbe0dc;
}
.list-item:active > .link > .item__text {
  background: #ff868e;
  color: white;
}

.item__pic {
  border-radius: 20px;
  border: 4px solid rgba(255, 255, 255, 0.6);
}

.list-item:nth-child(1) > .item__pic {
  padding: 37px 19px;
  background: #b4b7ff;
}
.list-item:nth-child(2) > .item__pic {
  padding: 17px 11px;
  background: #97eab9;
}
.list-item:nth-child(3) > .item__pic {
  padding: 4px 13px;
  background: #ffd280;
}

.links__top {
  color: #1d1d1d;

  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.welcome__text {
  color: #8c8c8c;

  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.welcome__top {
  color: #1d1d1d;
  font-size: 44px;
  font-style: normal;
  font-weight: 500;
  line-height: 58px; /* 131.818% */
}

.voting-area {
  position: relative;
  width: 640px;
  height: 360px;
}

.vote-down,
.vote-favorite,
.vote-up {
  padding: 20px;
  border: white solid 3px;
}

.vote-buttons {
  position: absolute;
  bottom: -40px;
  left: 50%;
  transform: translateX(-50%);
}

.vote-up {
  background: #97eab9;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.vote-favorite {
  background: #ff868e;
}
.vote-down {
  background: #ffd280;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.vote-image {
  height: 100%;
  width: 100%;
  object-fit: fill;
  border-radius: 20px;
}
